<div class="container">
  <div class="row d-flex justify-content-center">
    <form action="/create" method="POST">
      店名:<input type="text" placeholder="name" name="name"><br />
      店名(英):<input type="text" placeholder="name_en" name="name_en"><br />
      類別:<input type="text" placeholder="category" name="category"><br />
      餐廳圖片:<input type="text" placeholder="image" name="image"><br />
      地址:<input type="text" placeholder="location" name="location"><br />
      電話:<input type="text" placeholder="phone" name="phone"><br />
      地圖:<input type="text" placeholder="google_map" name="google_map"><br />
      評分:<input type="text" placeholder="rating" name="rating"><br />
      簡介:<input type="text" placeholder="description" name="description"><br />
      <button type="submit">送出</button>
    </form>
  </div>
</div>